@import "themes/standard";

body {
  background-color: $lightgray;
  color: black;
  font-family: arial, sans-serif;
  font-size: 0.75em;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 0 0;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.background-primary {
  background-color: $lightgray;
}

.background-secondary {
  background-color: $white;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.grid-column-12 {
  margin-left: auto;
  margin-right: auto;
}

.column-12 {
  width: 100%;
}

.column-3, .column-4, .column-5, .column-7, .column-12 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline;
  float: left;
}

.grid-column-12.fluid-grid {
  max-width: 940px;
  width: 97%;
}

a:hover {
  color: $blue;
}