@import 'themes/themes';

body {
  @include themify($themes) {
    background-color: themed('primary-bg-color');
  }
  color: black;
  font-family: arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 0 0;
}

div {
  @include themify($themes) {
    font-size: themed('font-size');
  }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.background-primary {
  @include themify($themes) {
    background-color: themed('primary-bg-color');
  }
}

.background-secondary {
  @include themify($themes) {
    background-color: themed('secondary-bg-color');
  }
}

.row {
  margin-left: auto;
  margin-right: auto;
}

.row:before,
.row:after {
  content: ' ';
  display: table;
}

.row:after {
  clear: both;
}

.grid-column-12 {
  margin-left: auto;
  margin-right: auto;
}

.column-12 {
  width: 100%;
}

.column-3,
.column-4,
.column-5,
.column-7,
.column-12 {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline;
}

.grid-column-12.fluid-grid {
  max-width: 940px;
  width: 97%;
}

a:hover {
  @include themify($themes) {
    color: themed('focused-link');
  }
  cursor: pointer;
}

.brodtext {
  @include themify($themes) {
    color: themed('brodtext-color');
    font-size: themed('fontsize-percent-based');
  }
  font-family: arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 150%;
}

.margin-left {
  margin-left: 5px;
}

.margin-right {
  margin-right: 5px;
}

h2 {
  @include themify($themes) {
    color: themed('brodtext-color');
  }
  font-family: arial, sans-serif;
  font-size: 220%;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 0em;
  margin-top: 0em;
}

h3 {
  @include themify($themes) {
    color: themed('brodtext-color');
  }
  font-family: arial, sans-serif;
  font-size: 110%;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  margin-bottom: 1em;
  margin-top: 0em;
}
