@import 'themes/themes';

.menu {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1000;
}

.menuContainer {
  margin: 0 auto 0 0;
  max-width: 960px;
}

.menuContainer li {
  border-top: 1px solid;
}

.menuContainer li.active {
  @include themify($themes) {
    color: themed('focused-link');
    border-bottom: 3px solid themed('secondary-line-color');
  }
}

.menuContainer a {
  display: inline-block;
  font: bold 100% Arial, serif;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 1.5em;
}

.menuContainer a:hover {
  @include themify($themes) {
    color: themed('navigation-focused-link-color');
    background-color: themed('navigation-focused-link-bg-color');
  }
}

.menuContainer .nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menuContainer .nav li {
  border-left: 0;
  display: inline-block;
  float: none;
  margin: 0;
  padding: 0;
  position: relative;
  @include themify($themes) {
    border-left: 1px solid themed('primary-line-color');
  }
}

.menuContainer .nav li a {
  border: 0;
  display: block;
  padding: 15px 1.5em;
}
