.add-frukt-button {
  background: url('./plus_icon.png');
  background-size: cover;
  width: 32px;
  height: 32px;
}

.remove-frukt-button {
  background: url('./cross_icon.png');
  background-size: cover;
  width: 19px;
  height: 19px;
}
