@import '../../../sass/themes/themes';

.table-row:nth-child(even) {
  @include themify($themes) {
    background: #ccc;
  }
}

.table-row:nth-child(odd) {
  background: #fff;
}

.full-width-table {
  width: 100%;
  border-spacing: 0;
}

.full-width-table tr {
  height: 30px;
}

.arrow-image {
  width: 30px;
  vertical-align: middle;
}

.no-items {
  text-align: center;
  margin-top: 20px;
  @include themify($themes) {
    color: themed('brodtext-color');
  }
}
