.primaryBgColor {
  background-color: white;
}

.secondaryBgColor {
  background-color: #ffffff;
}

.primaryLineColor {
  border-color: black;
}

.secondaryLineColor {
  border-color: black;
}

.focusedLink {
  color: black;
}

.navigationFocusedLinkColor {
  color: white;
}

.navigationFocusedLinkBgColor {
  background-color: black;
}

.darkgray {
  color: #4f4f4f;
}

.fontSize {
  font-size: 1.1em;
}
