.primaryBgColor {
  background-color: #15b43d;
}

.secondaryBgColor {
  background-color: #ffffff;
}

.primaryLineColor {
  border-color: #dddddd
}

.secondaryLineColor {
  border-color: #168dc5
}

.focusedLink {
  color: #168dc5;
}

.navigationFocusedLinkColor {
  color: #168dc5;
}

.navigationFocusedLinkBgColor {
  background-color: white;
}

.darkgray {
  color: #4f4f4f;
}

.fontSize {
  font-size: 1em;
}
