@import '../themes';

.header {
  @include themify($themes) {
    background-color: themed('primary-bg-color');
    border-bottom: 3px solid themed('secondary-line-color');
  }
  padding: 20px 0 14px;
}
