@import '../../../sass/themes/themes';

div.inloggad {
  font-family: arial, sans-serif;
  font-size: 90%;
  font-style: normal;
  font-weight: normal;
  line-height: 140%;
  position: relative;
  text-align: right;
}

.logga-ut {
  @include themify($themes) {
    background: none repeat scroll 0 0 themed('a-focused-link-bg-color');
    color: themed('a-focused-link-color');
  }
  border: 0 none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  margin: 0;
  padding: 2px 20px;
}

a.logga-ut:hover {
  @include themify($themes) {
    background: none repeat scroll 0 0 themed('a-focused-link-bg-color');
    color: themed('a-focused-link-color');
  }
}