@import '../themes';

.contentFooter {
  @include themify($themes) {
    border-top: 1px solid themed('primary-line-color');
  }
  padding-bottom: 2px;
  padding-top: 1em;
}

.content {
  @include themify($themes) {
    background-color: themed('primary-bg-color');
  }
  padding-bottom: 20px;
  padding-top: 20px;
}

.content-container {
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  padding: 1em 1.5em;
}

.bottom-line {
  @include themify($themes) {
    border-bottom: 1px solid themed('primary-line-color');
  }
  padding-bottom: 1em;
}

.padded {
  padding-bottom: 1.5em;
  padding-top: 1em;
}
